.w-embed-youtubevideo {
  width: 100%;
  position: relative;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-image: url('../images/youtube-placeholder.svg');
  background-size: cover;
  background-position: 50% 50%;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

.experiences {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f0f0f0;
}

.div-block {
  width: 500px;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 0 0 #000;
  color: #313131;
  text-decoration: none;
}

.div-block-2:hover {
  box-shadow: 10px 10px 20px -5px #000;
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-2 {
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.column-3 {
  padding-right: 20px;
  padding-left: 20px;
}

.column-4 {
  padding-right: 20px;
  padding-left: 20px;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 300px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100px;
  background-color: transparent;
}

.paragraph {
  padding: 10px 20px 20px;
  font-family: 'Open Sans', sans-serif;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 20px 0 #000;
  -webkit-transform: translate3d(0px, 0px, 33px);
  transform: translate3d(0px, 0px, 33px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.lottie-animation {
  overflow: hidden;
  width: 500px;
}

.columns-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.heading {
  font-family: 'Brandon grotesque 58a8a3e824392', sans-serif;
  font-size: 90px;
  text-align: center;
}

.heading.exp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
  font-family: 'Brandon grotesque 58a8a3e824392', sans-serif;
  font-size: 70px;
}

.heading.home {
  text-align: left;
}

.paragraph-2 {
  margin-top: 53px;
  margin-bottom: 0px;
  padding-top: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 28px;
}

.paragraph-2._2nd {
  margin-top: 10px;
}

.column-5 {
  padding-left: 62px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.text-span {
  color: #f7c6ab;
}

.heading-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.lottie-animation-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-3 {
  margin-top: -37px;
  font-family: 'Brandon grotesque 58a8a3e824392', sans-serif;
  color: #000;
}

.lottie-animation-3 {
  width: 250px;
}

.link-block {
  position: absolute;
  width: 300px;
  height: 500px;
  background-color: transparent;
  color: #000;
  text-decoration: none;
}

.section-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 141px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.navbar {
  background-color: #f0f0f0;
}

.heading-4 {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
}

.container {
  margin-top: 140px;
}

.image {
  border-radius: 30px;
}

.image-2 {
  border-radius: 30px;
}

.column-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0px;
  background-color: #5367aa;
  background-image: url('../images/Committee-Jackets.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.column-6.error-a0d3c4f7-ce32-2ba2-e530-8e45cbff5490 {
  background-color: #f8e2cf;
  background-image: url('../images/Bi-Weekly.png');
  background-position: 50% 50%;
  background-size: 300px;
}

.image-3 {
  border-radius: 30px;
  background-color: #f5eee6;
}

.image-4 {
  height: 250px;
  background-image: url('../images/example-bg.png');
  background-position: 0px 0px;
  background-size: 125px;
}

.column-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0px;
  background-color: #3a4566;
  background-image: url('../images/Background.png');
  background-position: 100% 50%;
  background-size: cover;
}

.column-7.motion-graphic {
  background-color: #fdf6f0;
  background-image: url('../images/Sunspot.png');
  background-position: 50% 50%;
  background-size: 300px;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.image-5 {
  height: 300px;
}

.column-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0px;
  background-color: #f5eee6;
}

.column-8.mg2 {
  background-color: #f5c6aa;
  background-image: url('../images/Graphic-Request.png');
  background-position: 50% 70%;
  background-size: cover;
  background-repeat: no-repeat;
}

.column-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0px;
  background-color: #fadebd;
  background-image: url('../images/TFC-Jackets-Front.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.column-9.mg1 {
  background-color: #fd866e;
  background-image: url('../images/Submit-Sunburst.png');
  background-position: 50% 50%;
  background-size: cover;
}

.columns-3 {
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
}

.columns-3.alt-graphics {
  margin-top: 0px;
  padding-left: 0px;
}

.heading-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-3 {
  margin-top: 234px;
  margin-bottom: 69px;
  padding-bottom: 0px;
}

.section-3.video {
  margin-top: 128px;
}

.heading-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -82px;
  margin-bottom: auto;
  padding-bottom: 24px;
  padding-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  font-family: 'Brandon grotesque 58a8a456c4724', sans-serif;
  color: #f574a1;
}

.paragraph-3 {
  padding-top: 12px;
  font-family: 'Open Sans', sans-serif;
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.section-4 {
  margin-bottom: 77px;
}

.container-3 {
  width: 100vw;
}

.link-block-2 {
  width: 100px;
  height: 100px;
  margin-top: 22px;
  margin-left: 40px;
}

.section-5 {
  margin-top: -4px;
}

.body {
  background-color: #f0f0f0;
}

.section-6 {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -10;
  background-image: url('../images/cool-background.png');
  background-position: 0px 0px;
  background-size: cover;
}

.section-6.video {
  background-image: url('../images/cool-background.png');
  background-position: 0px 0px;
  background-size: cover;
}

.slide {
  height: 600px;
  background-image: url('../images/DSC02701.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.container-4 {
  height: 600px;
}

.mask {
  height: 600px;
}

.right-arrow {
  top: 192px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.left-arrow {
  position: absolute;
  left: 0%;
  top: 80%;
  right: auto;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.slide-nav {
  position: relative;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 14%;
}

.image-6 {
  display: block;
}

.slider {
  height: 600px;
}

.slide-2 {
  background-image: url('../images/DSC02701.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.slide-3 {
  background-color: #aba6a2;
  background-image: url('../images/DSC02616.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.slide-4 {
  background-color: #beb9b3;
  background-image: url('../images/DSC00484.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-5 {
  background-color: #416a43;
  background-image: url('../images/DSC05233-2.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.slide-6 {
  background-color: #d0c1b7;
  background-image: url('../images/DSC01969.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.paragraph-4 {
  margin-top: 16px;
  text-align: left;
}

.youtube {
  position: static;
}

.section-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 51px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 14px 0 #000;
}

.columns-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.column-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  padding-left: 53px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #bd5757;
}

.container-5 {
  height: 500px;
  border-radius: 20px;
  background-image: url('../images/Capture.PNG');
  background-position: 0px 0px;
  background-size: cover;
}

.container-5:hover {
  background-image: url('../images/Capture.PNG');
  background-position: 0px 0px;
  background-size: cover;
  box-shadow: 7px 7px 12px 0 #000;
}

.heading-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
}

.heading-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 236px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Brandon grotesque 58a8a4b38001d', sans-serif;
  font-size: 40px;
}

.heading-8.stop-blue {
  font-family: 'Brandon grotesque 58a8a4b38001d', sans-serif;
  font-size: 50px;
  text-decoration: none;
}

.link-block-3 {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 10;
  display: inline-block;
  width: 100%;
  height: 500px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 20px;
  background-color: rgba(247, 198, 171, 0.9);
  opacity: 0.01;
  color: #000;
  font-weight: 400;
  text-decoration: none;
}

.link-block-3:hover {
  display: inline-block;
  opacity: 1;
}

.top-div {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 10000;
  display: none;
  height: 50vh;
  background-color: #fff;
  box-shadow: 1px 1px 14px 0 #000;
}

.bottom-div {
  position: fixed;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 10000;
  display: none;
  height: 50vh;
  background-color: #fff;
  box-shadow: 0 -1px 14px 0 #000;
  opacity: 1;
}

.button {
  margin-top: 15px;
  border-radius: 20px;
  background-color: #f7c6ab;
  color: #444;
}

.button:hover {
  box-shadow: 1px 1px 3px 0 #000;
}

.button.linked {
  margin-left: 23px;
}

.column-11 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.youtube-2 {
  position: static;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  margin-top: 77px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-12 {
  display: block;
}

.columns-5 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.link-block-4 {
  position: static;
}

.section-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 149px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-13 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.column-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  padding-right: 60px;
  padding-left: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.paragraph-5 {
  padding-right: 92px;
}

.subheading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  font-family: 'Brandon grotesque 58a8a4b38001d', sans-serif;
  color: #000;
}

.subheading.below {
  margin-top: 39px;
  margin-right: 56px;
  margin-left: 56px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.subheading.below._2 {
  margin-top: 35px;
}

.subheading.below._3 {
  margin-top: 22px;
  margin-bottom: auto;
}

.text {
  font-family: 'Open Sans', sans-serif;
}

.text.below {
  margin-top: 4px;
  padding-right: 56px;
  padding-left: 56px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.text.purpose {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.columns-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-5 {
  box-shadow: 7px 7px 8px -4px #000;
}

.columns-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  margin-top: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-15 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-15.pain-points {
  padding-left: 56px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.column-16 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 60px;
  padding-left: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.lightbox-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paint-points {
  font-family: 'Brandon grotesque 58a8a4b38001d', sans-serif;
  font-size: 20px;
}

.intro {
  margin-top: -75px;
}

.div-block-7 {
  width: 400px;
}

.container-6 {
  margin-top: 40px;
}

.image-7 {
  box-shadow: 3px 3px 3px 0 #000;
}

.image-8 {
  box-shadow: 3px 3px 3px 0 #000;
}

.image-9 {
  box-shadow: 3px 3px 3px 0 #000;
}

.image-10 {
  box-shadow: 3px 3px 3px 0 #000;
}

.image-11 {
  box-shadow: 3px 3px 3px 0 #000;
}

.image-12 {
  box-shadow: 3px 3px 3px 0 #000;
}

.image-13 {
  box-shadow: 3px 3px 3px 0 #000;
}

.columns-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 991px) {
  .div-block-2 {
    width: 500px;
    margin-bottom: 20px;
  }
  .div-block-2:hover {
    box-shadow: 3px 3px 3px 0 #000;
  }
  .div-block-2.graphics:hover {
    box-shadow: none;
  }
  .div-block-2.photos:hover {
    box-shadow: none;
  }
  .div-block-2.hca {
    box-shadow: none;
  }
  .columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .column {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .column-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .lottie-animation {
    width: 700px;
  }
  .columns-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: -60px;
    margin-left: -60px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .heading {
    font-size: 60px;
    line-height: 60px;
  }
  .heading.home {
    font-size: 80px;
  }
  .paragraph-2 {
    font-size: 14px;
  }
  .column-5 {
    display: block;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .heading-3 {
    font-size: 30px;
  }
  .lotti {
    width: 200px;
  }
  .link-block-2 {
    margin-left: 4px;
  }
  .slide-2 {
    background-color: #b0a9a1;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .slide-4 {
    background-color: #8b8175;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .youtube {
    position: static;
  }
  .heading-8.stop-blue {
    font-size: 30px;
    text-align: center;
  }
  .button {
    font-size: 14px;
  }
  .button.linked {
    margin-left: 12px;
  }
  .column-11 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .column-13 {
    padding-right: 60px;
    padding-left: 60px;
  }
  .column-14 {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .subheading {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .columns-6 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .columns-7 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .column-15 {
    padding-bottom: 40px;
  }
  .column-16 {
    padding-right: 60px;
    padding-left: 60px;
  }
  .columns-8 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .lottie-animation {
    width: 500px;
  }
  .heading.home {
    font-size: 40px;
  }
  .paragraph-2 {
    font-size: 14px;
  }
  .column-5 {
    padding-right: 140px;
    padding-left: 140px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .container-5 {
    background-position: 50% 50%;
    background-size: cover;
  }
  .button.linked {
    margin-left: auto;
  }
}

@media (max-width: 479px) {
  .div-block-2 {
    width: 300px;
  }
  .lottie-animation {
    width: 300px;
  }
  .heading {
    font-size: 48px;
  }
  .heading.exp {
    font-size: 50px;
  }
  .column-5 {
    padding-top: 40px;
    padding-right: 100px;
    padding-left: 100px;
  }
  .heading-6 {
    padding-top: 40px;
    padding-left: 20px;
  }
  .slide-2 {
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .heading-8.stop-blue {
    margin-top: 188px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .link-block-3 {
    padding-left: 0px;
  }
  .div-block-7 {
    display: none;
  }
}

@font-face {
  font-family: 'Brandon grotesque 58a8a3a8861fe';
  src: url('../fonts/brandon-grotesque-thin-italic-58a8a3a8861fe.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Brandon grotesque 58a8a4ccb88be';
  src: url('../fonts/brandon-grotesque-light-italic-58a8a4ccb88be.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Brandon grotesque 58a8a3c40866a';
  src: url('../fonts/brandon-grotesque-medium-italic-58a8a3c40866a.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Brandon grotesque 58a8a4b38001d';
  src: url('../fonts/brandon-grotesque-light-58a8a4b38001d.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon grotesque 58a8a3e824392';
  src: url('../fonts/brandon-grotesque-black-58a8a3e824392.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon grotesque 58a8a48221563';
  src: url('../fonts/brandon-grotesque-bold-italic-58a8a48221563.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Brandon grotesque 58a8a456c4724';
  src: url('../fonts/brandon-grotesque-regular-italic-58a8a456c4724.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}